#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc1d1;
  opacity: 0.8;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

#chat-screen .main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

.chat__timestamp {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 10px;
}

.message__author {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 6px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 10px;
  font-size: 18px;
}

.message__time {
  font-size: 12px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 10px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px 15px;
  width: 100%;
  border: var(--border-main);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:first-child i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 4px;
  top: 3px;
}

.reply__column:last-child > i {
  top: 10px;
  right: 40px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
