#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 100px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
  margin-top: 20px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--border-main);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes splashAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: none;
  }
}

#splash-screen {
  background-color: var(--purple);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(34, 13, 3);
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 2s;
}

#splash-screen span {
  animation: splashAnimation 1s ease-in-out;
}
