.welcome-header {
  margin: 100px 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--purple);
  width: 60%;
  line-height: 1.2;
}

.welcome-header__i {
  font-size: 80px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

#login-form input:not([type="submit"]) {
  border: 2px solid var(--purple);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--purple);
  background-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--purple);
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
  color: #fff;
}

#login-form input[type="submit"]:active {
  background-color: var(--yellow);
  color: var(--purple);
}

#login-form input:nth-child(2) {
  margin-bottom: 30px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
