#no-mobile {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--purple);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #fff;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
